{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Online Shopping</h1>
</div>
<p class="lead">A supermarket, a large form of the traditional grocery store, is a self-service shop offering a wide variety of food and household products, organized into aisles. It is larger and has a wider selection than a traditional grocery store, but is smaller and more limited in the range of merchandise than a hypermarket or big-box market.</p>

{% endblock %}
