{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">uLu Group International opened its first supermarket in Abu Dhabi, United Arab Emirates, in 1995, when the retail business scenario in the region started to change with the entry of Continent (now Carrefour). Later, more LuLu Supermarket stores were opened in different parts of Abu Dhabi There are also several Lulu stores found in the emirate of Dubai. In the late 1990s, the LuLu Center department stores were launched, and the group expanded to other countries in the Middle East..</p>

{% endblock %}
